<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"Email" %>
    <%= form.text_field :email %>
  </div>

  <div class="field" >
    <%= form.label :"Nhập mã sv" %>
    <%= form.text_field :masv %>
  </div>

  <div class="field">
    <%= form.label :"Mật khẩu" %>
    <%= form.password_field :matkhau %>
  </div>

  <div class="field" hidden="">
    <%= form.text_field :lop %>
  </div>

  <div class="field" hidden="">
    <%= form.text_field :hoten %>
  </div>

  <div class="field" hidden="">
    <%= form.text_field :thuongtru %>
  </div>

  <div class="field" hidden=""> 
    <%= form.text_field :namsinh_at %>
  </div>

  <div class="field" hidden=""> 
    <%= form.text_field :sdt %>
  </div>

  <div class="actions">
    <%= form.submit :"Đăng ký" %>
  </div>
<% end %>
