<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Mã số sinh viên:</strong>
  <%= @user.masv %>
</p>

<%= link_to 'Sửa', edit_user_path(@user) %> |
<%= link_to 'Quay lại', users_path %>
